*~
build/
.lock-wscript
*.log
node_modules/
package-lock.json
*.swp
dist
.DS_Store
/.eslintcache
.vscode/
manually-test-on-heroku.js
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
